<mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="false" #stepper>
        <form [formGroup]="forgetForm">
            <ng-template matStepLabel>Fill out your email</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" placeholder="Input your email" required>
            </mat-form-field>
            <div>
                <button mat-button disabled="{{!this.forgetForm.controls['email'].valid}}"
                    (click)="goForward(stepper, 1)">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="false">
        <form [formGroup]="forgetForm">
            <ng-template matStepLabel>Your security question</ng-template>
            <p>{{this.security_question | titlecase}}</p>
            <mat-form-field appearance="legacy">
                <mat-label>Your Answer</mat-label>
                <input matInput formControlName="answer" required>
            </mat-form-field>
            <div>
                <button mat-button (click)="goForward(stepper, 2)">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" [editable]="false">
        <form [formGroup]="forgetForm">
            <ng-template matStepLabel>Update your password</ng-template>
            <p>Input your new password</p>
            <mat-form-field appearance="standard">
                <input type="password" matInput formControlName="newPassword" required>
            </mat-form-field>

            <p>Repeat your new password</p>
            <mat-form-field appearance="standard">
                <input type="password" matInput formControlName="newPassword2" required>
            </mat-form-field>
            <div>
                <button mat-button
                    disabled="{{!(this.forgetForm.value.newPassword===this.forgetForm.value.newPassword2) || this.forgetForm.value.newPassword===''}}"
                    (click)="goForward(stepper, 3)" color="primary">Change Password</button>
            </div>
        </form>

    </mat-step>
</mat-vertical-stepper>