table {
  width: 100%;
  position: absolute;
}

a{
  text-decoration: none;
}

button{
  margin-left: 2rem;
  margin-top: 3rem;
}

.paginationOperation{
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  justify-content: flex-end;
}
.paginationOperation>p{
  margin-top: 3px;
}