

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin-left: 6rem;
}

.out-of-stock {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 40%;
    border: 0px;
    top: 5rem;
    left: 0px;
}

.card-container {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    border-radius: 30px;
    box-sizing: border-box;
    border: 3px yellow solid;
    width: 250px;
    height: 450px;
    margin-left: 140px;
    padding: 10px;
    position: relative;
}

.card-container-disabled{
   background-color: red;
}

.card-container:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 5px gray;
    transition: transform .4s ease;
}

.card-container>img:first-child {
    width: 100%;
    border-radius: 30px;
    height: 150px;
    border: 1px darkgreen solid;
}

.card-container>p:nth-child(2) {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
}

.card-container>p:nth-child(3) {
    text-align: center;
    font-size: 12px;
    color: black;
    margin-top: 15 px;
    font-style: italic;
}

.card-container>p:nth-child(4) {
    text-align: center;
    font-size: 10px;
    color: darkgray;
    margin-top: 15 px;
}

.availableText{
    text-align: center;
    font-size: 10px;
    color: darkgray;
    margin-top: 10px;
}
.card-container>p:nth-child(5) {
    left: 75px;
    font-size: 13px;
    position: absolute;
    bottom: 20px;
    font-weight: 700;
}

.card-container>a {
    position: absolute;
    bottom: 10px;
    left: 205px;
    text-decoration: none;
}

.card-container:nth-child(3n-1) {
    margin-top: 200px
}

mat-form-field{
    position: fixed;
    bottom: 0;
    right: 10px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0);
    }
}