<div class="navbar">
    <div *ngIf="this.cartAmount > 0" class="cart-logo">
        <a href="#" [routerLink]="['/cart-page']" onclick="return false;">
            <mat-icon>shopping_cart</mat-icon>
        </a>
        <div>
            <p>{{this.cartAmount}}</p>
        </div>

    </div>
    <div class="logo">
        <a [routerLink]="['/homepage']">
            <img src="../../../assets/images/logo.png" alt="">
        </a>
        <h3 *ngIf="this.fullName">{{(this.role | titlecase) + ": " + this.fullName}}</h3>
    </div>

    <div class="navbar-menu">
        <a [routerLink]="['/menu']">
            <h1>Menu</h1>
        </a>
        <a href="#" onclick="return false;" (click)="logAction()">
            <h1>{{this.status}}</h1>
        </a>
    </div>
    <img src="../../../assets/images/warmindo.png">
</div>