table {
    width: 100%;
}

td {
    border: 15px solid white;
}

.mat-column-recipe_name {
    width: 20%;
}

.mat-column-description {
    width: 30%;

}


.mat-column-ingredients {
    width: 8%;
}

.mat-column-price {
    width: 13%;
    text-align: center;
}


.mat-column-status {
    width: 8%;
}

.mat-column-highlight {
    width: 8%;
}

.mat-column-operation {
    width: 10%;
}


button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

.paginationOperation{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: 89.5%;
  }

@keyframes slideInFromLeft {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0);
    }
}