.language {
    width: 60px;
    position: absolute;
    top: 8%;
    right: 8%;
}

.form {
    position: absolute;
    margin-top: 5rem;
    border: 3px solid yellow;
    box-sizing: border-box;
    border-radius: 20px 50px;
    height: fit-content;
    width: 650px;
    margin-left: 30%;
    padding-top: 30px;
    padding-left: 220px;
    padding-bottom: 20px;
    padding-top: 90px;    
}

.register{
    position: relative;
    width: 100%;
    height: 650px;
    margin-left: -150px;
}


mat-slide-toggle{
    top: 11%;
    left: 8%;
    position: absolute;
}

.registerLink{
    top: 94%;
    right: 2%;
    position: absolute;
    font-size: 12px;
}
.forgetLink{
    top: 78%;
    right: 24%;
    position: absolute;
    font-size: 12px;
    padding: 0 10px 10px 10px;
    z-index: 4;

}

/* ::ng-deep .input {
    height:8px !important;
    border: 1px solid black;
} */