table {
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.mat-column-description {
    width: 30%;

}

.mat-column-menu {
    width: 17%;

}

button {
    margin-left: 2rem;
    margin-top: 3rem;
}