table {
    width: 100%;
  }

  .mat-column-order_time {
    width: 23%;

}

.mat-column-name {
    width: 23%;

}

.paginationOperation{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 90%;
}