table {
    width: 100%;
  }

  .mat-column-order_time {
    width: 23%;

}

.mat-column-name {
    width: 23%;

}

.paginationOperation{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 90%;
}

.example-form-field {
  margin: 0 8px 16px 30px;
}

::ng-deep .mat-date-range-input{
  width: 200px !important;
  height: 18px !important;
}

mat-form-field{
  margin-left: 30px;
}
<<<<<<< HEAD

button{
  margin-top: 20px;
  margin-left: 92%;
}
=======
>>>>>>> 4ba24fae36ba0446f6ccd3466091637df9d530c8
